# Ignore the logs directory that's generated when the tests are run
logs/
_reduction.log
# No compiled python files
*.pyc
# No leftover subversion directories
.svn/
# No text editor temporaries
*~
# No eclipse PyDev project files
.project
.pydevproject
